# ============================================
# Python Virtual Environments
# ============================================
.venv/
venv/
env/

# ============================================
# IDE / OS Metadata
# ============================================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ============================================
# Python Cache
# ============================================
__pycache__/
*.py[cod]

# ============================================
# Jupyter
# ============================================
.ipynb_checkpoints/

# ============================================
# Logs
# ============================================
logs/
*.log

# ============================================
# Data Folders
# ============================================

# Raw data should NEVER be tracked
data/raw/*
!data/raw/.gitkeep

# Processed datasets (large files) ignored
data/processed/*
!data/processed/.gitkeep

# Allow example datasets (small) to be tracked
!data/examples/
!data/examples/*

# ============================================
# Outputs (models, metrics, predictions)
# ============================================
outputs/*
!outputs/.gitkeep
!outputs/models/.gitkeep
!outputs/metrics/.gitkeep
!outputs/predictions/.gitkeep

# Ignore model files & large ML artifacts
*.npy
*.npz
*.pkl
*.h5
*.hdf5


# ============================================
# Docs
# ============================================
docs/*
!docs/.gitkeep
